*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol.h{
    background-color: aqua;
}
li.m {
    display: inline;
    padding: 10px;
    margin: 10px;
    font-size: larger;
    position: sticky aqua ;
}
a {
    text-decoration: none;
    color: black;
}
article.B {
    height: 700px;
    width: 1800px;
    background-color: rgba(255, 230, 0, 0.26);
}
aside {
    width: 300px;
    float: right;
    background-color: beige;
    position: relative;
    text-align: center;
    font-size: 10px;
    text-transform: capitalize;
} 
li {
    font-size: 20px;
    list-style-type: none;
    text-align: left;
    margin: 39px;
}
h1#o {
    background-color: red;
    text-align: center;
    font-style: italic;
}
#Body {
    background-color: purple;
    height: 800px;
    margin-top: 5px;
    overflow: visible;
}
img {
    height: 800px;
    width: 850px;
    float: right;
}
#k {
    font-size: 35px;
}
#Gladious{
    font-size: 30px;
    font-style:italic;
    margin: 10px;
}
#flower {
    float: left;
}
#Peruvian{
    font-size: 30px;
    font-style:italic;
}
#Doritaenopsis{
    font-size: 30px;
    font-style:italic;
}
.p {
    text-align: center;
    text-shadow: 5px 5px 8px lime;
    font-size: 5em;
}
form {
    width: 20em;
}
			
input {
    border-bottom: 1px dotted #dcdcdc;
    padding: 5px;
    width: 270px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    
}
input:focus {
	border: 12px  lime;
}
input#submit {
	color: #ffffff;
	background-color: green;
	border: none;
	border-radius: 5px;
	width: 80px;
}
input#submit:hover {
	color: #665544;
	background-color: violet;
}
fieldset {
	width: 350px;
	border: 10px solid #dcdcdc;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
    border-style: double;
}
legend {
	background-color: #c282db;
	border: 1px solid #c282db;;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
}
table {
    background-color: white;
    width: 50em;
    height: 20em;
    padding: 1em;
}
.s {
    padding: 0.9em;
    text-decoration: yellow;
}